In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("../DATA/Advertising.csv")

In [4]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [5]:
X = df.drop('sales', axis=1)

In [6]:
y = df['sales']

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train , X_test , y_train, y_test = train_test_split(X,y,test_size=0.3 , random_state=101)

In [10]:
X_train

        TV  radio  newspaper
85   193.2   18.4       65.7
183  287.6   43.0       71.8
127   80.2    0.0        9.2
53   182.6   46.2       58.7
100  222.4    4.3       49.8
..     ...    ...        ...
63   102.7   29.6        8.4
70   199.1   30.6       38.7
81   239.8    4.1       36.9
11   214.7   24.0        4.0
95   163.3   31.6       52.9

[140 rows x 3 columns]

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
scaler = StandardScaler()

In [13]:
scaler.fit(X_train)

StandardScaler()

In [14]:
X_train = scaler.transform(X_train)

In [15]:
X_test = scaler.transform(X_test)

In [16]:
from sklearn.linear_model import Ridge

In [40]:
model = Ridge(alpha = 100)

In [41]:
model.fit(X_train,y_train)

Ridge(alpha=100)

In [49]:
y_pred = model.predict(X_test)

In [50]:
from sklearn.metrics import mean_squared_error

In [51]:
mean_squared_error(y_test,y_pred)

7.34177578903413

In [52]:
model2 = Ridge(alpha = 1)

In [53]:
model2.fit(X_train,y_train)

Ridge(alpha=1)

In [54]:
y_pred2 = model2.predict(X_test)

In [55]:
mean_squared_error(y_test,y_pred2)

2.319021579428752