In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('../DATA/Advertising.csv')

In [4]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [9]:
X = df.drop('sales',axis = 1)
y = df['sales']
from sklearn.model_selection import train_test_split
X_train, X_test,y_train , y_test = train_test_split(X,y,test_size=0.3,random_state=101)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [10]:
from sklearn.linear_model import ElasticNet

In [13]:
base_elastic_model = ElasticNet()

In [66]:
param_grids = {'alpha' : [0.1,.2,.3,.4,.5,.6,.7,.8,.9,1,5,10,50,100],'l1_ratio' : [0.1,0.2,.3,.4,.5,.6,.7,.8,.9,.91,.95,.99,1]}

In [67]:
from sklearn.model_selection import GridSearchCV

In [68]:
grid_model = GridSearchCV(estimator= base_elastic_model , 
                          param_grid= param_grids , 
                          scoring= 'neg_mean_squared_error',
                          cv = 50 , verbose= 1)

In [69]:
grid_model.fit(X_train,y_train)

Fitting 50 folds for each of 182 candidates, totalling 9100 fits

GridSearchCV(cv=50, estimator=ElasticNet(),
             param_grid={'alpha': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9,
                                   1, 5, 10, 50, 100],
                         'l1_ratio': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8,
                                      0.9, 0.91, 0.95, 0.99, 1]},
             scoring='neg_mean_squared_error', verbose=1)

In [70]:
grid_model.best_estimator_

ElasticNet(alpha=0.1, l1_ratio=1)

In [71]:
grid_model.best_params_

{'alpha': 0.1, 'l1_ratio': 1}

In [72]:
pd.DataFrame(grid_model.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_alpha,param_l1_ratio,params,split0_test_score,split1_test_score,split2_test_score,...,split43_test_score,split44_test_score,split45_test_score,split46_test_score,split47_test_score,split48_test_score,split49_test_score,mean_test_score,std_test_score,rank_test_score
0,0.000208,0.000399,0.000240,0.001191,0.1,0.1,"{'alpha': 0.1, 'l1_ratio': 0.1}",-3.558653,-3.518542,-0.215175,...,-2.301594,-1.023827,-5.847497,-8.618530,-0.324628,-3.195099,-0.336046,-3.492421,5.495467,25
1,0.000201,0.000401,0.000394,0.002203,0.1,0.2,"{'alpha': 0.1, 'l1_ratio': 0.2}",-3.531875,-3.465636,-0.215742,...,-2.349241,-1.085580,-5.799102,-8.372585,-0.321680,-3.178851,-0.318618,-3.469255,5.455670,22
2,0.000000,0.000000,0.000625,0.003063,0.1,0.3,"{'alpha': 0.1, 'l1_ratio': 0.3}",-3.506499,-3.411996,-0.217335,...,-2.399973,-1.150413,-5.750882,-8.124052,-0.318934,-3.162169,-0.302389,-3.446483,5.410610,19
3,0.000625,0.003061,0.000000,0.000000,0.1,0.4,"{'alpha': 0.1, 'l1_ratio': 0.4}",-3.482624,-3.357606,-0.220044,...,-2.453972,-1.218477,-5.702956,-7.872977,-0.316416,-3.145032,-0.287470,-3.424036,5.359261,17
4,0.000509,0.002373,0.000334,0.002190,0.1,0.5,"{'alpha': 0.1, 'l1_ratio': 0.5}",-3.456506,-3.302450,-0.223965,...,-2.511436,-1.289933,-5.610471,-7.619419,-0.314156,-3.127417,-0.273980,-3.398947,5.307129,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,0.000312,0.002187,0.000000,0.000000,100,0.9,"{'alpha': 100, 'l1_ratio': 0.9}",-57.760879,-39.561948,-1.471718,...,-20.076583,-26.522023,-39.988929,-36.800461,-1.487973,-10.005806,-8.355231,-26.354456,19.875545,143
178,0.000312,0.002187,0.000625,0.003061,100,0.91,"{'alpha': 100, 'l1_ratio': 0.91}",-57.760879,-39.561948,-1.471718,...,-20.076583,-26.522023,-39.988929,-36.800461,-1.487973,-10.005806,-8.355231,-26.354456,19.875545,143
179,0.000312,0.002187,0.000312,0.002187,100,0.95,"{'alpha': 100, 'l1_ratio': 0.95}",-57.760879,-39.561948,-1.471718,...,-20.076583,-26.522023,-39.988929,-36.800461,-1.487973,-10.005806,-8.355231,-26.354456,19.875545,143
180,0.000312,0.002187,0.000312,0.002187,100,0.99,"{'alpha': 100, 'l1_ratio': 0.99}",-57.760879,-39.561948,-1.471718,...,-20.076583,-26.522023,-39.988929,-36.800461,-1.487973,-10.005806,-8.355231,-26.354456,19.875545,143
181,0.000625,0.003062,0.000000,0.000000,100,1,"{'alpha': 100, 'l1_ratio': 1}",-57.760879,-39.561948,-1.471718,...,-20.076583,-26.522023,-39.988929,-36.800461,-1.487973,-10.005806,-8.355231,-26.354456,19.875545,143

In [73]:
y_pred= grid_model.predict(X_test)

In [74]:
from sklearn.metrics import mean_squared_error

In [75]:
mean_squared_error(y_pred,y_test)

2.3873426420874737