In [35]:
with open ('One.txt') as mytext:
    a = mytext.read().lower().split()
    uni_words = set(a)

In [36]:
print(a)

['this', 'is', 'a', 'story', 'about', 'dogs', 'our', 'canine', 'pets', 'dogs', 'are', 'furry', 'animals']

In [37]:
uni_words

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [38]:
with open ('Two.txt') as mytext:
    b = mytext.read().lower().split()
    uni_words2 = set(b)

In [39]:
print(b)

['this', 'story', 'is', 'about', 'surfing', 'catching', 'waves', 'is', 'fun', 'surfing', 'is', 'a', 'popular', 'water', 'sport']

In [40]:
uni_words2

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [41]:
all_uni = set()

In [42]:
all_uni.update(uni_words)

In [43]:
all_uni.update(uni_words2)

In [44]:
all_uni

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'catching',
 'dogs',
 'fun',
 'furry',
 'is',
 'our',
 'pets',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [49]:
full_voca = dict()
i = 0
for word in all_uni:
    full_voca[word] = i
    i = i +1

In [50]:
full_voca

{'waves': 0,
 'catching': 1,
 'about': 2,
 'canine': 3,
 'animals': 4,
 'water': 5,
 'is': 6,
 'fun': 7,
 'story': 8,
 'pets': 9,
 'surfing': 10,
 'sport': 11,
 'popular': 12,
 'furry': 13,
 'are': 14,
 'this': 15,
 'dogs': 16,
 'our': 17,
 'a': 18}

In [71]:
one_freq = [0]*len(full_voca)
two_freq = [0]*len(full_voca)
all_word = ['']*len(full_voca)

In [53]:
two_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [54]:
one_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [55]:
all_word

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [65]:
with open ('One.txt') as f:
    one_text = f.read().lower().split()

{'waves': 0,
 'catching': 1,
 'about': 2,
 'canine': 3,
 'animals': 4,
 'water': 5,
 'is': 6,
 'fun': 7,
 'story': 8,
 'pets': 9,
 'surfing': 10,
 'sport': 11,
 'popular': 12,
 'furry': 13,
 'are': 14,
 'this': 15,
 'dogs': 16,
 'our': 17,
 'a': 18}

In [72]:
for word in one_text:
    word_ind = full_voca[word]
    one_freq[word_ind] += 1
one_freq

[0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 2, 1, 1]

In [73]:
with open ('Two.txt') as f:
    two_text = f.read().lower().split()

In [74]:
for word in two_text:
    word_ind = full_voca[word]
    two_freq[word_ind] += 1
two_freq

[1, 1, 1, 0, 0, 1, 3, 1, 1, 0, 2, 1, 1, 0, 0, 1, 0, 0, 1]

In [75]:
for word in full_voca:
    word_ind = full_voca[word]
    all_word[word_ind] = word

In [76]:
all_word

['waves',
 'catching',
 'about',
 'canine',
 'animals',
 'water',
 'is',
 'fun',
 'story',
 'pets',
 'surfing',
 'sport',
 'popular',
 'furry',
 'are',
 'this',
 'dogs',
 'our',
 'a']

In [77]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [80]:
bow = pd.DataFrame(data= [one_freq,two_freq] , columns= all_word)

In [81]:
bow

,waves,catching,about,canine,animals,water,is,fun,story,pets,surfing,sport,popular,furry,are,this,dogs,our,a
0,0,0,1,1,1,0,1,0,1,1,0,0,0,1,1,1,2,1,1
1,1,1,1,0,0,1,3,1,1,0,2,1,1,0,0,1,0,0,1