In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
q1 = {'Japan':80,'China':450,'India':300,'USA':500}
q2 = {'Brazil':100,'China':500,'India':200,'USA':700}

In [5]:
sales_q1 = pd.Series(q1)

In [6]:
sales_q2 = pd.Series(q2)

In [7]:
sales_q1

Japan     80
China    450
India    300
USA      500
dtype: int64

In [8]:
sales_q2

Brazil    100
China     500
India     200
USA       700
dtype: int64

In [9]:
sales_q1['India']

300

In [11]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [19]:
sales_q1 *8

Japan     640
China    3600
India    2400
USA      4000
dtype: int64

In [20]:
sales_q2

Brazil    100
China     500
India     200
USA       700
dtype: int64

In [21]:
sales_q1 + sales_q2

Brazil       NaN
China      950.0
India      500.0
Japan        NaN
USA       1200.0
dtype: float64

In [26]:
sales_q1.add(sales_q2,fill_value = 0)

Brazil     100.0
China      950.0
India      500.0
Japan       80.0
USA       1200.0
dtype: float64