In [2]:
import numpy as np
import pandas as pd

In [3]:
email  = 'jose@gmail.com'

In [4]:
email

'jose@gmail.com'

In [16]:
email.isascii()

True

In [18]:
names  = pd.Series(['andrew','bobo','claire','david','5'])

In [19]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [17]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [20]:
tech = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [21]:
len(tech)

2

In [26]:
ti = pd.Series(tech)

In [31]:
ti.str.split(',',expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [41]:
m = pd.Series(['andrew   ',"bo;bo"," claire  "])

In [42]:
m

0    andrew
1        bo;bo
2     claire
dtype: object

In [49]:
m.str.replace(";","").str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [46]:
.

0    andrew
1     bo;bo
2    claire
dtype: object